<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.iamseapy.decolink</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5DC1D6A8-7F5C-4152-8F79-3E87B3A3F21F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E165D9F9-CA6E-4861-9A20-E2BC8DEE3BC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8411F6ED-D25B-4563-8F01-0B3FECAE7BE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9151E837-E0F3-4A99-981C-9260937A21C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86DD2766-43C4-4E4A-A340-C7471057B52A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8411F6ED-D25B-4563-8F01-0B3FECAE7BE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB7CB4F8-0164-46C4-BC49-615732984FEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86DD2766-43C4-4E4A-A340-C7471057B52A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E165D9F9-CA6E-4861-9A20-E2BC8DEE3BC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB7CB4F8-0164-46C4-BC49-615732984FEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D53B3C61-4656-4CA9-AF68-8030CF0FAB01</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>86DD2766-43C4-4E4A-A340-C7471057B52A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>seapy</string>
	<key>description</key>
	<string>Decoration link to markdown</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>decolink</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BB7CB4F8-0164-46C4-BC49-615732984FEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8411F6ED-D25B-4563-8F01-0B3FECAE7BE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>decolink</string>
				<key>subtext</key>
				<string>Decoration link to markdown</string>
				<key>text</key>
				<string>decolink</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DC1D6A8-7F5C-4152-8F79-3E87B3A3F21F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./decolink_darwin_amd64 \"\$1\"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86DD2766-43C4-4E4A-A340-C7471057B52A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9151E837-E0F3-4A99-981C-9260937A21C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>D53B3C61-4656-4CA9-AF68-8030CF0FAB01</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>has</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E165D9F9-CA6E-4861-9A20-E2BC8DEE3BC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Decoration link to markdown

- GitHub : https://github.com/seapy/decolink</string>
	<key>uidata</key>
	<dict>
		<key>5DC1D6A8-7F5C-4152-8F79-3E87B3A3F21F</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>8411F6ED-D25B-4563-8F01-0B3FECAE7BE2</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>86DD2766-43C4-4E4A-A340-C7471057B52A</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>9151E837-E0F3-4A99-981C-9260937A21C3</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>BB7CB4F8-0164-46C4-BC49-615732984FEE</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>E165D9F9-CA6E-4861-9A20-E2BC8DEE3BC9</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>$VERSION</string>
	<key>webaddress</key>
	<string>https://github.com/seapy/decolink/</string>
</dict>
</plist>
